MONGODB_URI=your_mongourl
JWT_SECRET=dfjsdhfjhfjshjfsdnknfsj
gmail=your gmail
email=ethreal email
password=ethreal password
OPENAI_API_KEY=openai api given by openai
VECTOR_DB=vector db url by atlas
RAZORPAY_KEY_ID=rzp_test_TJE5d8oUKpUBrV
RAZORPAY_KEY_SECRET=pmc8vdl3W1GMgfZeUMHtHEGa
RAZORPAY_WEBHOOK_SECRET=herodonmeet